* {
	padding: 0;
	margin: 0;
	vertical-align: baseline;
	list-style: none;
	border: 0
}

html{
	scroll-behavior: smooth;
}

.section-container{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.section-background{	
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
}

.background-section-one{
	height: 100vh;
	background: url('../assets/bg.jpg');
}

.background-section-two{
	height: 80vh;
	background: url('../assets/bg2.jpg');
}

.logo{
	height: 80%;	
}

#content{
	width: 400px;
}

#content form{
	display: grid;
}

input{
	width: 100%;
	margin: 5px;
	height: 30px;
	width: 100%;
	border: none;
	border-radius: 5px;
}

input[type='submit']{
	background: #e76f51;
	color: #fff;
	font-weight: bold;
	font-size: 14px;
	padding: 2px;
	border: none;
}

footer{
	height: 20vh;
	padding: 25px;
	text-align: center;
	background-color: #000;
	color: #fff;
}

#loader{
	display: none;
}